.place-card__like-icon {
  background: url(../../../images/like-inactive.svg) center no-repeat;
  background-color: transparent;
  border: none;
  width: 21px;
  height: 19px;
  cursor: pointer;
  transition: transform .3s linear;
}

.place-card__like-icon:focus,
.place-card__like-icon:active {
  background-image: url(../../../images/like-active.svg);
  /* background-color: #000; */
}

.place-card__like-icon:hover {
  opacity: 0.4;
}
