.user-info__photo {
  width: 120px;
  height: 120px;
  min-width: 120px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-image: url(../../../images/avatar.jpg);
}

@media screen and (max-width: 980px) {
  .user-info__photo {
    margin-top: 40px;
  }
}
