.header {
  display: flex;
  padding: 45px 0 41px;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, 1);
}

@media screen and (max-width: 980px) {
  .header {
    padding: 28px 0 31px;
  }
}
