.popup__close {
  width: 26px;
  height: 26px;
  position: absolute;
  top: -26px;
  right: -26px;
  cursor: pointer;
  background: center / contain no-repeat url("../../../images/close.svg");
  transition: opacity 0.2s ease-in-out;
  border: 0;
}

.popup__close:hover {
  opacity: 0.8;
}

@media screen and (max-width: 980px) {
  .popup__close {
    right: 0;
    top: -38px;
  }
}