.user-info__edit-button {
  width: 24px;
  height: 24px;
  align-self: center;
  border: none;
  padding: 0;
  margin-left: 15px;
  background: center / contain no-repeat url("../../../images/edit-button.svg");
}

@media screen and (max-width: 980px) {
  .user-info__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}