body {
  background-color: #000;
}

.root__section {
  width: calc(100% - 400px);
  max-width: 880px;
  margin: auto;
}

@media screen and (max-width: 980px) {
  .root__section {
    width: auto;
  }
}